* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(212, 45%, 89%);
  --accent-color: hsl(0, 0%, 100%);
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(216, 15%, 48%);

  --ff-primary: "Outfit", sans-serif;
  --fw-regular: 700;
  --fw-thin: 400;
  --fs-regular: 15px;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--bg-color);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 320px;
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: 1rem;
}

img {
  width: 100%;
  border-radius: 0.625rem;
}

h1 {
  font-size: 1.375rem;
  color: var(--primary-color);
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.75rem;
  line-height: 1.1;
}

p {
  font-size: var(--fs-regular);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.attribution {
  margin-top: 0.5rem;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
